@{
    ViewBag.Title = "Editeaza raspuns";
}

<h2>Editare răspuns</h2>
<br />

<form method="post" action="/Answers/Edit/@ViewBag.Answer.Id">
    <label>Conținut răspuns</label>
    <textarea name="Text" class="form-control" rows="4">@ViewBag.Answer.Text</textarea>
    <br />

    <button class="btn btn-success" type="submit">Modifică răspuns</button>
    <a class="btn btn-secondary" href="/Questions/Show/@ViewBag.Answer.QuestionId">Anulează</a>
</form>